.root{
    font-family: 'OpenSansEmoji';
    src: url('OpenSansEmoji.ttf');
}
.scroll-pane > .viewport{
-fx-background-color:transparent;

}
#scroll{
-fx-fit-to-height: false;
-fx-fit-to-width: true;
-fx-background-repeat:no-repeat;
-fx-background-size:stretch;
}