.root{
    font-family: 'OpenSansEmoji';
    src: url('OpenSansEmoji.ttf');
}
.scroll-pane > .viewport{
-fx-background-color:transparent;

}
#scroll{
-fx-fit-to-height: false;
-fx-fit-to-width: true;
-fx-background-repeat:no-repeat;
-fx-background-size:stretch;
}

#buttons{
-fx-background-color: #FFFFFF;
-fx-border-width:2px,0px,2px,0px;
-fx-border-color:#F1F1F1
}

#buttons:hover{
fx-background-color: #000000;
}